.product-info {
    .product-info__btns {
        min-height: 128px;
        @extend %tplFlex;
        background-color: $lightgray;
        padding: 0 40px;
        button {
            @include font(18px, 400, 1.5, $mainColor);
            transition: $transitionColor;
            &:hover {
                color: $hoverColor;
            }
        }
        .product-info__btn-previous {
            padding-left: 30px;
            background: url(../src/card-product/card-product__previous-btn.svg) left center/20px 20px no-repeat;
        }

        .product-info__btn-next {
            padding-right: 30px;
            background: url(../src/card-product/card-product__next-btn.svg) right center/20px 20px no-repeat;
        }
    }
    .product-info__row {
        background-color: #fff;
        
        .product-info__card {
            @extend %tplFlex;
            justify-content: flex-start;
            gap: 10px 50px;
            .product-info__image {
                max-width: 620px;
                width: 100%;
                img {
                    @extend %tplOjectFit;
                }
            }
            .product-info__description {
                padding-right: 15px;
                margin-bottom: 47px;
                h1 {
                    margin-bottom: 10px;
                    @include font(48px, 500, 1.0, inherit);
                }
                span {
                    @include font(18px, 300, 1.0, $hoverColor);
                }
            }
            .product-info__order {
                margin: 29px 0 26px;
                max-width: 277px;
                @extend %tplFlex;
                gap: 30px;
                justify-content: flex-start;
                span {
                    @include font(24px, 700, 1.0, inherit);
                }
            }
            .product-order__order {
                @extend %tplFlex;
                gap: 19px;
                
                button {
                    padding: 4px;
                    background: none;
                }
                .product-order__minus {
                    width: 21px;
                    height: 3px;
                    padding: 8px 0;
                    background: url(../src/card-product/product-order__minus.svg) center center/auto no-repeat;
                }
                .product-order__plus {
                    width: 40px;
                    height:40px;
                    background: url(../src/card-product/product-order__plus.svg) center center/auto no-repeat;
                }
                span {
                    @include font(36px, 700, 1.0, inherit);
                }
            }
            .product-info__info {
                @include font(18px, 300, 1.0, inherit);
                h3 {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
            .product-info__btn  {
                margin-top: 37px;
            }
        }
    }

}